body{
    font-family: "Archivo", serif;
    font-optical-sizing: auto;
    background-color: #f2f3f5;
  
  }
    
  .aside-container{
    background-color: #0b0b31; 
  }

  .aside-container a{
    color: rgb(181, 181, 181);}
    
    .logo{
      width: 75%;
      height: auto;
    }
          /* W3 Slideshow start 
I adapted this to fit a flexbox layout and got rid of the pointers so that is just dots to change the image
*/
  .main-nav li{
      background-color: #0b0b31;;
      border-radius: 10%;
      border: none;}

  .main-nav a{
    color: white;
    text-decoration: none;
    font-size: 2vw; /* Default font size */
  }

  .dot {
    height: 22px;
    width: 22px;
    background-color: #bbb;
    border-radius: 50%;
    transition: background-color 0.6s ease;
    
  }
  
.dot:hover {
    background-color: #717171;
  }
  
  
    /* HEADER END */
  
    /* MORE Button */
    .more-bttn{
      color: white;
      font-size: medium;
      background-color:#213349 ;
      border-radius: 10%;
      border: none;
      text-decoration: none;
    }
  
    /* SECTIONS */
  
    .sections{
      color: white;
      background: linear-gradient(to left top, #0f1821 54%, #1c2d40 );
    
    }
  
  
  .sections p{
    color: #a9a9a9;
  }

  /* Services Section */
  
  .services ul{
    list-style-type: "⚙️";
    }
  
  /* Opportunities Section */
  .opportunities ul{
  list-style-type: "🗨️"; 
  }
  
  
  /* News Section */

  
   .date-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #be8542;
    border-radius: 25%;
    width: 8vw;
    height: 8vw;
    
   }
  
   .date-block p {
    color: white;
    font-stretch:condensed;
    -webkit-transform:scale(.5,1.5);
    transform: scale(.6,1.6);
    font-weight: bold;
    
  }
  
  .day p{
    font-size: 3.25vw;
  }
  
  
  .special-block-1{
    background-color: #bc6142;
  }
  
  .special-block-2{
    background-color: #bd425e;
  }
  
  
  /* FOOTER START*/
  footer{
    background-color: #0e1e31;
    color: white;
  }

/* Remove custom styles for hero image */

@media (max-width: 576px) {
  .logo {
      width: 70%;
      height: auto;
  }
  .main-nav a {
      font-size: 1rem;
  }
  .date-block {
    width: 25vw; 
    height: 25vw;}
    
.date-block p {
    font-size: 6vw; }
}